html, body{
	margin:0;
	padding:0;
	font-family:arial;
}

h1{
    border-bottom: 2px solid #428e71;
}

img{
	width:80%;
}

code{
	white-space: pre;
}

.code{
	border:1px solid black;
}

table{
	border-collapse: collapse;
}

thead, tbody, th,td{
	border:1px solid black;
	margin:0;
	padding:0;
}

th,td{
	padding:5px;
}

.note{
	background:rgba(216,255,202,0.5);
	margin:10px 0px;
	padding:5px;
}

.border{
	border:1px solid black;
	padding:5px;
}

.title{
	text-align:center;
}

.title span{
	font-size:42px;
}

.prompt{
	color:red;
}

.top-nav{
	background: linear-gradient(#70cf70 10%,#8aea8a 25%);
    padding: 10px;
    font-family: arial;
    color: white;
    box-shadow: 0px 0px 10px #979595;
    text-align: center;
    margin-bottom:0;
}

.container{
	display:flex;
}

.sidebar{
	width: 170px;
	background: linear-gradient(#90ee90,#90eec9);
	height: 100%;
    position: fixed;
}

.sidebar ul{
	list-style-type: none;
	padding:0px;
}

.sidebar li {
    background: #59af8e;
    border-bottom: 0.5px solid #237949;
}

.sidebar li a{
	text-decoration: none;
	color:white;
	font-size:12px;
	display: block;
    padding: 7px 0px 7px 5px;
}

.sidebar li a:hover{
	background:#428e71;
}

.sidebar li ul li{
	box-shadow: inset 0px 0px 23px 15px #428e71;
}

.sidebar li ul li a{
	padding-left:15px;
}

.content{
	margin-left: 170px;
	padding:10px;
}


#basic-course-info{
	background: linear-gradient(#90ee90,#90eec9);
	border-radius: 10px;
	border:0;
	padding:15px;
}

